 @import 'mixins';
 @import 'variables';

 * {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-title_size {
    font-size: 24px;
}

.form-container {
    display: flex;
    justify-content: center;
    background-color: $form-background-color;
    gap: 1rem;
    padding: 1rem 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);

    &_logo {
        color: $footer-background-color;
    }

    &_input {
        border: none;
        background: $form-background-color;
        font-size: 16px;
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: $primary-background-color;
    padding: 2.5rem 0 3.75rem 0;

    &_title {
        margin: 0 2.5rem 1rem 2.5rem;
    }

    &_text {
        font-size: 18px;
        font-weight: 300;
        color: $footer-background-color;
        margin: 0 2rem 1.75rem 2rem;
    }

    &_btn {
        @include btn;
        padding: 1rem 1.25rem;
        width: 14rem;
    }
}

.working-container {
    padding: 3rem 0 4.25rem 1.25rem;
}

.step-container {
    display: flex;
    align-items: center;
    &_section-title {
        margin:  0 0 1.625rem 1.25rem;;
    }

    &_ordinal-nb {
        background: $primary-color;
        border-radius: 1rem;;
        padding: 0.25rem 0.5rem;
        color: $secondary-background-color;
        margin: 0 0 1.5rem 1.25rem;
    } 

    &_card {
        @include card;
        background: $primary-background-color;
        display: flex;
        padding: 1.5rem;
        gap: 1rem;
        font-size: 16px;
        font-weight: 500;
        margin: 0 0 1.5rem 2rem;

        &_icon {
            color: $light-icon-color;
        }
    }
}

.absolute-position {
    position:absolute;
}

