 @use 'mixins';
 @use 'variables';
 @use 'animations';
 @use 'color';

 * {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-title_size {
    font-size: 24px;
}

.form-container {
    display: flex;
    justify-content: center;
    background-color: color.$form-background-color;
    gap: 1rem;
    padding: 1rem 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;

    .input-container {
        display: flex;
        justify-content: center;
    }
        
    &_logo {
        color: color.$footer-background-color;
    }

    &_input {
        border: none;
        background: color.$form-background-color;
        font-size: 16px;
        text-align: center;
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: color.$primary-background-color;
    padding: 1.5rem 0 3.75rem 0;

    @media (min-width: 768px) {
        padding-bottom: 2rem;
    }

    &_title {
        margin: 0 2.5rem 1.2rem 2.5rem;

        @media (min-width: 768px) {
            font-size: 40px;
        }
    }

    &_text {
        font-size: 18px;
        font-weight: 300;
        color: color.$footer-background-color;
        margin: 0 2rem 1.75rem 2rem;
    }

    &_btn {
        @include mixins.btn;
        padding: 1rem 1.25rem;
        width: 14rem;
    }
}

.working-container {
    padding: 3rem 1.5rem; 
    
    @media (min-width: 1024px) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    @media (min-width: 1444px) {
        padding-left: 11.25rem;
        padding-right: 11.25rem;
    }
}

.working-cards_container {
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.step-container {
    @include mixins.card;
    background: color.$primary-background-color;
    display: flex;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    gap: 1rem;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    align-items: center;
    gap: 1.5rem;

    @media (min-width: 768px) {
        width: 31%;
        justify-content: space-around;
        gap: 1rem;
        padding: 1.5rem;
    }

    &_section-title {
        padding-bottom : 1.5rem;
    }

    &_ordinal-nb {
        background: color.$primary-color;
        border-radius: 1rem;
        font-size: 12px;
        padding: 5px 9px;
        position: absolute;
        left: -10px;
        color: white;
    } 

        &_icon {
            color: color.$light-icon-color;
            padding: 1.5rem;
        }

       &_txt {
           color: color.$main-font-color;
        }
    }

.restaurant-section {
    padding: 3.5rem 1.5rem 4rem 1.5rem;
    background-color: color.$primary-background-color;

    @media (min-width: 768px) {
        padding: 3.5rem 2rem 0 2rem;
    }

    @media (min-width: 1024px) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    @media (min-width: 1444px) {
        padding-left: 11.25rem;
        padding-right: 11.25rem;
    }
}

.restaurant-section h2 {
    padding-bottom: 1.5rem;

    @media (min-width: 768px) {
        padding-bottom: 0.5rem;
    }
}

.restaurant-cards_container {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 768px) {
        justify-content: space-between;
    }
}

.restaurant-card {
    @include mixins.card;
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1.25rem;

    @media (min-width: 768px) {
        width: 45%;
        margin-bottom: 1.75rem;
        margin-top: 1.25rem;
    }

    &_tag {
            color: color.$tag-font-color;
            background:  color.$tertiary-color;
            font-size: 14px;
            font-weight: 500;
            padding: 7px 9px;
            position: absolute;
            right: 15px;
            top: 15px;
            border-radius: 3px;
        }

    &_img {
        object-fit: cover;
        width:100%;
        height: 11rem;
        border-radius: 1.25rem 1.25rem 0 0;
        }

    &_content {
        display:flex;
        justify-content: space-between;
        width: 100%;
        background: color.$secondary-background-color;
        color: color.$main-font-color;
        padding: 1rem 2rem 1rem 1rem;
        border-radius: 0 0 1.25rem 1.25rem;

        &_txt h3 {
            padding-bottom: 5px;
            font-size: 18px;
            font-weight: 700;
        }

        &_txt p {
            font-size: 17px;
            font-weight: 300;
        }
    }
}
