 @import 'mixins';
 @import 'variables';

 * {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-title_size {
    font-size: 24px;
}

.form-container {
    display: flex;
    justify-content: center;
    background-color: $form-background-color;
    gap: 1rem;
    padding: 1rem 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;

    &_logo {
        color: $footer-background-color;
    }

    &_input {
        border: none;
        background: $form-background-color;
        font-size: 16px;
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: $primary-background-color;
    padding: 2.5rem 0 3.75rem 0;

    &_title {
        margin: 0 2.5rem 1rem 2.5rem;
    }

    &_text {
        font-size: 18px;
        font-weight: 300;
        color: $footer-background-color;
        margin: 0 2rem 1.75rem 2rem;
    }

    &_btn {
        @include btn;
        padding: 1rem 1.25rem;
        width: 14rem;
    }
}

.working-container {
    padding: 3rem 1.25rem 4.25rem 1.25rem;
}

.step-container {
    @include card;
    background: $primary-background-color;
    display: flex;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    gap: 1rem;
    font-size: 16px;
    font-weight: 500;
    position: relative;

    &_section-title {
        margin:  0 0 1.625rem 1.25rem;
    }

    &_ordinal-nb {
        background: $primary-color;
        border-radius: 1rem;
        font-size: 12px;
        padding: 5px 9px;
        position: absolute;
        left: -10px;
        /*box-shadow has to be added but must be unseen on the container*/
    } 

        &_icon {
            color: $light-icon-color;
    
        }

       &_txt {
           color: $main-font-color;
        }
    }

  

.restaurant-section {
    padding: 3.5rem 1rem 4rem 1rem;
    background-color: $primary-background-color;
}

.restaurant-section h2 {
    padding-bottom: 1.5rem;
}




.restaurant-card {
    @include card;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 1.25rem;

    &_tag {
            color: $tag-font-color;
            background:  $tertiary-color;
            font-size: 14px;
            font-weight: 500;
            padding: 7px 9px;
            position: absolute;
            right: 15px;
            top: 15px;
            border-radius: 3px;
        }

    &_img {
        object-fit: cover;
        width:100%;
        height: 10.5rem;
        border-radius: 1.25rem 1.25rem 0 0;
        }

    &_content {
        display:flex;
        justify-content: space-between;
        width: 100%;
        background: $secondary-background-color;
        color: $main-font-color;
        padding: 1rem 2rem 1rem 1rem;
        border-radius: 0 0 1.25rem 1.25rem;

        &_txt h3 {
            padding-bottom: 5px;

        }
    }
    

}

