@use "variables";
@use "color";

.loader-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lighten($color: color.$tertiary-color, $amount: 20);
    z-index: 998;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: 2s loading cubic-bezier(0, 0, 1, -0.45);
    animation-fill-mode: forwards;
}

.loader {
    
    border-left: 1rem solid lighten(color.$primary-color, 10);
    border-right: 1rem solid lighten(color.$primary-color, 30);
    width: 20rem;
    height: 20rem;
    border-top: 1rem solid lighten(color.$primary-color, 5);
    border-bottom: 1rem solid lighten(color.$primary-color, 18);
    border-radius: 50%;
    margin: auto;
    position: fixed;
    z-index: 999;
    top: 0; left: 0; right: 0; bottom: 0;
    animation: spin 500ms linear infinite;
    
    }
    @keyframes loading {
        0% {
            opacity: 0.9;
            z-index: 999;
        }
        50% {
            opacity: 0.7;
            z-index: 999;
        }
        90% {
            opacity: 0;
            z-index: -1;
        }
        100% {
            opacity: 0;
            z-index: -1;
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
            opacity: .4;
        }
        20% {
            transform: rotate(180deg);
            opacity: .6;
        }
      
        
        80% {
            transform: rotate(350deg);
            opacity: 1;
        }

        100% {
            transform: rotate(360deg);
            opacity: 1;
        }
    }

    @keyframes appearance {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes heart-filling {
        0% {
            opacity: 0;
        }

        95% {
            opacity: 0.8;
        }

        100% {
            opacity: 1;
            
        }
    }

    @keyframes heart-fading {
        0% {
            opacity: 1;
        }

        95% {
            opacity: 0.8;
        }

        100% {
            opacity: 0;
        }
    }
