@use 'variables';
@use "color";

/*buttons style*/
@mixin btn {
    background: color.$btn-background-color;
    border: none;
    border-radius: 1.8rem;
    color: color.$secondary-background-color;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1rem 3rem;
   
/*replace animation by a simple change during hover,  box-shadow*/
    &:hover {
        background: linear-gradient(lighten(color.$secondary-color, 5), lighten(color.$primary-color, 5));
        box-shadow: 0px 6px 6px rgb(0, 0, 0, 0.4);
    }
}


       
       

/*cards style*/
@mixin card {
    border-radius: 1.25rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-decoration: none;
}