/*Colors*/

$primary-color: #9356DC;

$secondary-color: #FF79DA;

$tertiary-color: #99E2D0;

$tag-font-color: #008766;

$primary-background-color: #F6F6F6;

$secondary-background-color: #FFFFFF;

$footer-background-color: #353535;

$light-icon-color: #7e7e7e;

$main-font-color: #000000;

$form-background-color: #EAEAEA;

$btn-background-color: linear-gradient($secondary-color, $primary-color);

/*Variables for keyframes appearance aplied on menu-cars*/
$nb-card: 9;

$anim-duration: 4500ms;

$anim-delay: $anim-duration / $nb-card;