$primary-color: #9356DC;

$secondary-color: #FF79DA;

$tertiary-color: #99E2D0;

$primary-background-color: #F6F6F6;

$secondary-background-color: #FFFFFF;

$footer-background-color: #353535;

$light-icon-color: #7e7e7e;

$main-font-color: #0000;

$form-background-color: #EAEAEA;
