@import 'homepage';
@import 'restaurant-page';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #9356DC;

$secondary-color: #FF79DA;

$tertiary-color: #99E2D0;

$primary-background-color: #F6F6F6;

$secondary-background-color: #FFFFFF;

$footer-background-color: #353535;

$main-font-color: #0000;

$form-background-color: #EAEAEA;




.header-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0 0.5rem 0;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.5);

    &_logo {
        width: 11.5rem;
    }
}

.btn {
    background: linear-gradient($secondary-color, $primary-color);
    border: none;
    border-radius: 1.8rem;
    color: $secondary-background-color;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.5);

    &_command {
        padding: 1rem 3rem;
    }
}



.footer-container {
    background: $footer-background-color;
    padding: 1.375rem 0 0.875rem 1.5rem;
}

.footer-list {
    list-style-type: none;

    &_icon {
        color: $secondary-background-color;
        width: 12px;
        height:13px;
    }

    &_title {
        color: $secondary-background-color;
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 18;
        margin-bottom: 1rem;
    }

    &_disposition {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
    
    &_link {
        color: $secondary-background-color;
        text-decoration: none;
        margin-bottom: 0.5rem;
        font-size: 16px;
    }
}
