@import 'homepage';
@import 'restaurant-page';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'mixins';
@import 'variables';

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1600px;
    margin: auto;
}

.bold_txt {
    font-weight: 700;
}

.header-disposition {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 0.5rem 1rem;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
    z-index: 3;
    position: relative;
    width: 100%;

    @media (min-width: 768px) {
        padding: 2rem;
    }

    &_logo {
        width: 11.5rem;

        @media (min-width: 768px) {
            width: 12.5rem;
        }
    }
}

.header_img {
    height: 17rem;
    width: 100%;
    object-fit: cover;
    z-index: 3;

    @media (min-width: 768px) {
        height: 23rem;
    }

}

.fa-arrow-left {
        color: $main-font-color;
    }

.btn_command {
        @include btn;
        padding: 1rem 3rem;

        &_disposition {
            display: flex;
            justify-content: center;
        }
    }


.like {
    width: 22px;
    height: 21px;
}

.footer-container {
    background: $footer-background-color;
    padding: 1.375rem 0 0.875rem 1.5rem;
    width: 100%;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
        align-items: center;
        padding: 3.5rem 3.5rem 1.5rem 1.5rem;
    }
}

.footer-list {
    list-style-type: none;

    @media (min-width: 768px) {
        display: flex;
        align-items:center;
        justify-content:flex-end;
        gap: 1.5rem;
    }

    &_icon {
        color: $secondary-background-color;
        width: 12px;
        height:13px;
    }

    &_title {
        color: $secondary-background-color;
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 18;
        margin-bottom: 1rem;
    }

    &_disposition {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
    
    &_link {
        color: $secondary-background-color;
        text-decoration: none;
        margin-bottom: 0.5rem;
        font-size: 16px;
    }
}

a {
    text-decoration: none;
}