/*buttons style*/
/*cards style*/
/*Colors*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-title_size {
  font-size: 24px;
}

.form-container {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 1rem;
  padding: 1rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: relative;
}
.form-container_logo {
  color: #353535;
}
.form-container_input {
  border: none;
  background: #EAEAEA;
  font-size: 16px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #F6F6F6;
  padding: 2.5rem 0 3.75rem 0;
}
.hero-container_title {
  margin: 0 2.5rem 1rem 2.5rem;
}
.hero-container_text {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  margin: 0 2rem 1.75rem 2rem;
}
.hero-container_btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 1.8rem;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 1rem 1.25rem;
  width: 14rem;
}

.working-container {
  padding: 3rem 1.25rem;
}

.step-container {
  border-radius: 1.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  background: #F6F6F6;
  display: flex;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  gap: 1rem;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.step-container_section-title {
  padding-bottom: 1.5rem;
}
.step-container_ordinal-nb {
  background: #9356DC;
  border-radius: 1rem;
  font-size: 12px;
  padding: 5px 9px;
  position: absolute;
  left: -10px;
  /*box-shadow has to be added but must be unseen on the container*/
}
.step-container_icon {
  color: #7e7e7e;
}
.step-container_txt {
  color: #000000;
}

.restaurant-section {
  padding: 3.5rem 1rem 4rem 1rem;
  background-color: #F6F6F6;
}

.restaurant-section h2 {
  padding-bottom: 1.5rem;
}

.restaurant-card {
  border-radius: 1.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 1.25rem;
}
.restaurant-card_tag {
  color: #008766;
  background: #99E2D0;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 9px;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 3px;
}
.restaurant-card_img {
  object-fit: cover;
  width: 100%;
  height: 11rem;
  border-radius: 1.25rem 1.25rem 0 0;
}
.restaurant-card_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #FFFFFF;
  color: #000000;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 0 0 1.25rem 1.25rem;
}
.restaurant-card_content_txt h3 {
  padding-bottom: 5px;
}

/*buttons style*/
/*cards style*/
/*Colors*/
* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  position: relative;
}

.menu {
  padding: 2rem 1rem;
  background: #F6F6F6;
  border-radius: 2.5rem 2.5rem 0 0;
  position: relative;
  width: 100%;
  top: -2.5rem;
}
.menu_title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem 2rem 0 0;
  padding-bottom: 2.5rem;
}
.menu_title {
  font-family: "Shrikhand";
  font-size: 28px;
}
.menu_part {
  padding: 0 1rem 2.5rem 1rem;
}
.menu_part_subtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 2rem;
}
.menu_part_underlined {
  text-decoration: underline;
  text-underline-offset: 13px;
  text-decoration-color: #99E2D0;
  text-decoration-thickness: 3px;
}
.menu_card {
  border-radius: 1.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.75rem 1rem;
  margin-bottom: 0.75rem;
}
.menu_card_title {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}
.menu_card_txt {
  font-size: 15px;
  font-weight: 300;
}
.menu_card_price {
  font-size: 15px;
  font-weight: 700;
}

/*buttons style*/
/*cards style*/
/*Colors*/
* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold_txt {
  font-weight: 700;
}

.header-disposition {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 0.5rem 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 3;
  position: relative;
  width: 100%;
}
.header-container_logo {
  width: 11.5rem;
}

.header_img {
  height: 17rem;
  width: 100%;
  object-fit: cover;
}

.fa-arrow-left {
  color: #000000;
}

.btn_command {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 1.8rem;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 1rem 3rem;
}
.btn_command_disposition {
  display: flex;
  justify-content: center;
}

.like {
  width: 22px;
  height: 21px;
}

.footer-container {
  background: #353535;
  padding: 1.375rem 0 0.875rem 1.5rem;
  width: 100%;
}

.footer-list {
  list-style-type: none;
}
.footer-list_icon {
  color: #FFFFFF;
  width: 12px;
  height: 13px;
}
.footer-list_title {
  color: #FFFFFF;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18;
  margin-bottom: 1rem;
}
.footer-list_disposition {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.footer-list_link {
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
